body {
    background-color: #08070b;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: #08070b;
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    position: relative;
}

nav {
    text-align: center;
    margin-top: 10px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
nav li {
    display: inline;
    margin: 0 10px;
}
nav a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #666666; /* Pequena alteração de cor para feedback ao passar o mouse */
}

.content {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projetos {
    color: #f2f2f2; /* Muda a cor do texto dos parágrafos */
}

.tab {
    display: none;
    margin-bottom: 20px; /* Espaço entre as abas */
}
.tab.active {
    display: block;
}

h1 {
    position: absolute;
    left: 0;
    top: 3px;
    margin: 0;
    font-size: 20px;
}

h2 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: #f2f2f2;
    margin: 20px 0; /* Margem superior e inferior */
}

h3 {
    text-align: center;
    font-size: 18px;
    color: #f2f2f2;
}

h4 {
    text-align: left;
    font-size: 22px;
    color: #f2f2f2;
}
.about {
    display: flex; /* Flex para alinhar imagem e texto */
    align-items: flex-start; /* Alinha verticalmente */
    color: #fff; /* Cor do texto */
    font-size: 16px;
    margin-bottom: 20px; /* Espaço abaixo da seção */
}
.about img {
    border-radius: 30%; /* Bordas arredondadas */
    max-width: 150px; /* Largura máxima da imagem */
    height: auto; /* Altura automática para manter proporção */
    margin-right: 20px; /* Espaço à direita da imagem */
}

.text {
    flex: 1; /* Faz o texto ocupar o espaço restante */
    text-align: justify;
}

.project {
    color: #f2f2f2;
    display: flex; /* Usar Flexbox para layout */
    justify-content: center; /* Centraliza os cards */
    gap: 20px; /* Espaçamento entre os cards */
    flex-wrap: wrap; /* Permite que os cards se reorganizem em telas menores */
}

.project div {
    background-color: #1a1a1a; /* Cor de fundo dos cards */
    padding: 15px; /* Espaçamento interno */
    width: 500px; /* Largura fixa dos cards */
    border-radius: 8px; /* Bordas arredondadas */
    text-align: justify; /* Justifica o texto dentro dos cards */
    transition: transform 0.3s ease;
}

.project div:hover {
    transform: scale(1.05); /* Pequeno efeito de aumento ao passar o mouse */
}

.project img {
    max-width: 100%; /* Ajusta a imagem ao tamanho do card */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 5px 0;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 99%;
}

footer a {
    margin-right: 15px; /* Adiciona espaço à direita de cada item */
}

.artigo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.artigo a, .equipamento a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor do texto pai */
    margin-bottom: 400px; /* Adiciona espaço abaixo do link */
}

* a{
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor do texto pai */
}
.equipamento span {
    color: #666666; 
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.equipamento p {
    text-align: justify;
    color: #f2f2f2;
    margin-bottom: 80px;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    h1{
        position: absolute;
         left: 50%;
        top: 0;
        font-size: 20px;}

    .about img {
        max-width: 120px;
        margin-right: 0;
        margin-bottom: 15px; /* Adiciona margem inferior */
    }

    .content {
        width: 70%; /* Mais espaçamento em telas muito pequenas */
    }
}
